= haml :form, :layout => false

#blablabla
  %p
    %h1
      Your time in any timezone
    Go to
    %a{:href => 'http://thatz.at/tomorrow+9am'}
      %code
        thatz.at/tomorrow 9am
    to see
    %em
      Tomorrow at 9am
    in other timezones.
    %img{:src => '/thatz_at_1.png'}
  %p
    %h1
      Your time in your contacts' timezones
    You've got redirected to
    %a{:href => 'http://thatz.at/Nov-14-2010-09-00-GMT-8-DST'}
      %code
        thatz.at/Nov-14-2010-09-00-GMT-8-DST
    %br
    Share this link! Your contacts will see this time in their own timezone.
    %img{:src => '/thatz_at_2.png'}
