#main {
  max-width: 700px;
  margin: 0 auto;
  font-size: 12pt;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 20px;
}

.hint {
  font-size: 10pt;
  margin-top: 2px;
  color: #555;
  text-align: center;
}

form {
  text-align: center;
}

label a {
  text-decoration: none;
}

p.error {
  text-align: center;
  color: #555;
}

input {
  font-size: 12pt;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 200px;
}


table {
  font-size: 12pt;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

td {
  color: #111;
  padding: 4px;
  padding-bottom: 4px;
  vertical-align: baseline;
}

td.identifier {
  text-align: right;
  padding-right: 5px;
}

.original_hidden {
  display: none;
}

.tz_time { 
  display: none;
}

.tz_time td {
  color: #555;
}

.tz_time.user td {
  color: #111;
}

.tz_time.original td {
  color: #111;
}

.timezone {
  width: 250px;
  font-size: 14pt;
}

.date {
  text-align: right;
}

.time {
  font-size: 16pt;
  text-align: center;
}

tr.not_your_timezone td {
  padding-top: 0px;
}

#time_input {
  margin-top: 100px;
  text-align: center;
}

#blablabla {
  margin-top: 100px;
  font-weight: normal;
  text-align: center;
}

#blablabla h1 {
  font-size: 12pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2pt;
  padding: 2pt;
}

#blablabla p {
  margin: 30px;
}

a {text-decoration: underline; }
a {color: black}
a:hover {text-decoration: none; color: #555;}

#about {
  font-size: 9pt;
  font-weight: normal;
  margin-top: 100px;
  color: #555;
  text-align: center;
}

#about a {
  color: #555;
}

